
SetEnv APPLICATION_ENV development
#SetEnv APPLICATION_ENV development
#SetEnv APPLICATION_ENV testing
#SetEnv APPLICATION_ENV staging
#SetEnv APPLICATION_ENV production
RewriteEngine On
#RewriteCond %{HTTP_HOST} nexthrm\.vteamslabs\.com [NC,OR]
#RewriteRule /*$ http://nexthrm.nextbridge.org [R=302,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

#php_value session.cache_expire 86400
#php_value session.cookie_lifetime 86400

php_value session.gc_maxlifetime 86400
#php_value session.gc_probability 1
#php_value session.gc_divisor 100

#php_value session.save_path "/"
#php_value session.save_path "/home/nexthrm-dev/session"
#php_value session.save_path "/home/farahhassan/www/new_nexthrm/trunk/public/uploads/SearchIndex/data"

#RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php
#Options -Indexes
#php_flag magic_quotes_gpc off
#php_flag register_globals off
php_flag short_open_tag on 
php_flag error_reporting on
